.idea
.DS_Store
*.iml
*.ipr
*.iws

!README
!Makefile
!*.h
!*.c
!*.s
bochsout.txt
*.o
*.out
*.img
*/Image
*/boot/boot
*/tools/build
*/tools/system
*/bochs/bootimage-0.00

/rasm-tmp

tmp/
/local
marvelous

/refs

*.iml
*.ipr
*.iws

*.c~
*.h~
*.S~

*.out
*.img

@eaDir